.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
}

.popup {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 10%;
  left: 10%;
  border: 1px solid black;
}

.popup .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  background-color: white;
}

.popup .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: white;
  font-size: 18px;
  background-color: black;
}

.close .check {
  margin-right: 10px;
  transform: scale(2);
}

.close button {
  padding: 5px;
  cursor: pointer;
}
