* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

body {
  min-width: 400px;
}

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
  width: 360px;
}

.name h1 {
  font-size: 30px;
  color: gray;
}
.name form {
  margin: 25px 0;
}
.name input {
  padding: 10px;
  width: 100%;
  font-size: 20px;
}
.name button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.5s;
}

.name button:hover {
  color: black;
  background-color: white;
}

.chat {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 360px;
  height: 80%;
}

.chat ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.347);
  list-style: none;
  overflow-y: scroll;
}

.chat ul::-webkit-scrollbar {
  width: 4px;
}

.chat ul::-webkit-scrollbar-thumb {
  background-color: #c7c5c57a;
}

.chat ul::-webkit-scrollbar-track {
  background-color: transparent;
}
.chat li {
  display: flex;
  justify-content: center;
}

.chat li .time {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  background-color: white;
}

.chat li .inform {
  margin: 5px 0;
  font-size: 14px;
  color: gray;
}

.chat li .message {
  margin: 5px 5px;
  padding: 5px 10px;
  min-width: 35px;
  max-width: 60%;
  min-height: 35px;
  overflow-wrap: break-word;
}

.chat li .timestamp {
  align-self: flex-end;
  font-size: 10px;
  color: gray;
  background-color: transparent;
}

.chat .me {
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px;
}

.chat .me .message {
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  color: white;
  background-color: #333;
}

.chat .other {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}

.chat .other .chatName {
  font-size: 12px;
}
.chat .other .wrapper {
  display: flex;
  justify-content: flex-start;
}

.chat .other .message {
  border-radius: 0 1.125rem 1.125rem 1.125rem;
  background-color: white;
}

.chat form {
  width: 100%;
}
.chat input {
  padding: 5px 10px;
  width: 100%;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
  appearance: none;
}
